* {
  margin: 0;
  font-family: "heebo", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

// <<=====components=====>>
@import "../styles/components/header/header.scss";
@import "../styles/components/UI/Button/Button.scss";

// <<=====Icons=====>>
@import "../styles/UI/Icons/MenuBar.scss";
